* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    Inter,
    "PingFang SC",
    "Microsoft YaHei",
    Arial,
    sans-serif;
}

// Global page container
.page-container {
  .el-card {
    border-radius: 8px;
  }
}

